# Vim swap files
*.sw?

# Compiled output
# /dist

# Node
/node_modules

# Miscellaneous
/.angular/cache

# Terraform
infrastructure/terraform.tfvars
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/*.tfstate*
